img {
    display: block;
}

.octopus {
    margin-top: 10%;
    margin-left: 40%;

}

.hat {
    position:absolute;
    z-index: 5;
    top:55px;
    right: 510px;
}

.glasses {
    position: absolute;
    z-index:5;
    top: 225px;
    left: 555px;
}