img {
    display: block;
}

.octopus {position:absolute;
    margin-top: 15%;
    margin-left: 40%;

}

.hat {
    position:absolute;
    z-index: 5;
    top:125px;
    right: 505px;
}

.glasses {
    position: absolute;
    z-index:5;
    top: 300px;
    left: 562px;
}